body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  color: white;
}

/* handles error messages */
.errors {
  color: red;
}

.home-page {
  background-color: #434343;
  padding: 2rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

/* handles each card */
.card-div {
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.words {
  color: white;
}

/* handles the navbar */
.nav-link {
  display: inline-block;
  width: auto;
  padding: 20px;
  margin: 0 6px 6px;
  background: none;
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: #282c34;
  color: white;
  margin: auto;
  padding: 10px;
  text-align: center;
  padding-bottom: 50px;
}

/* handles the size of the ChatSpace in Navbar */
.nav-title {
  font-size: calc(10px + 2vmin);
}

/* handles login/logout forms */
.form {
  padding: 150px;
  text-align: right;
  padding-bottom: 100px;
  background-color: white;
  color: black;
}

.course {
  display: flex;
  align-items: center;
}

table {
  width: 500px;
  height: 200px;
}

th {
  border: 1px solid white;
}

td {
  text-align: center;
}